<div class="container mt-5" style="max-width: 400px">
  <h2 class="mb-4 text-center">Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        id="username"
        class="form-control"
        formControlName="username"
        [class.is-invalid]="
          loginForm.get('username')?.invalid &&
          loginForm.get('username')?.touched
        "
      />

      <div
        class="invalid-feedback"
        *ngIf="
          loginForm.get('username')?.invalid &&
          loginForm.get('username')?.touched
        "
      >
        Username is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        [class.is-invalid]="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      />

      <div
        class="invalid-feedback"
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      >
        Password is required.
      </div>
    </div>
    <br/><br/>
    <a color="primary" href="/register">Register</a> as a new user
    <br /><br />
    <button
      type="submit"
      class="btn btn-primary w-100"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>

    <div *ngIf="error" class="text-danger text-center mt-3">
      {{ error }}
    </div>

    <div class="row"><br /><br />
      <br />
      <br />

      
    </div>
  </form>
</div>
