<header>
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    aria-label="Main navigation"
  >
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Content Management System</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/blogs">Read Blogs</a>
          </li>
          <li *ngIf="isAuthenticated" class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
          <li *ngIf="isAuthenticated" class="nav-item">
            <a class="nav-link" routerLink="/content/create"
              >Submit your Blog</a
            >
          </li>
          <li *ngIf="!isAuthenticated" class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li *ngIf="!isAuthenticated" class="nav-item">
            <a class="btn btn-primary" routerLink="/login">Login</a>
          </li>
          <li *ngIf="isAuthenticated" class="nav-item">
            <a class="btn btn-primary" (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
