<!-- Hero Section -->
<section class=" text-center container">
  <div class="row ">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to Content Management System</h1>
      <div class="features-section">
        <p class="lead text-muted">
          Create, edit, and manage blogs with ease. Organize your content
          efficiently. Upload and manage your media files with ease. Our CMS
          supports a variety of file types, including images and documents, to
          enhance your content.
        </p>
      </div>
      <p>
        <a href="/blogs" class="btn btn-primary my-2">Get Started</a>
      </p>
    </div>
    
  </div>
</section>
<!-- Carousel -->
<app-content-carousel></app-content-carousel>
