.content-preview {
  max-width: 30rem;
  max-height: 550px;
 
  margin: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.content-image {
  height: 200px;
  max-height: 200px;
  width: 30rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0px;
  padding: 0px;
}

.content-body {
  margin: 10px;
  max-height: 260px;
  overflow: hidden;
}

.content-actions {
  height: 80px;
  padding: 20px;
}
